.search-input {
	margin-bottom:5px;
}

.table {
	width:100% !important;
}

.hidepanel {
	display:none;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
	word-break:break-all;
}